<link rel="stylesheet" type="text/css" href="../../css/busqueda.css" />

<div cg-busy="myPromise">
    <div id="contenedor">
        <h1>Búsqueda de Flotilla</h1>
        <form class="form-horizontal" role="form" ng-controller="busquedaController">
          <div class="form-group">
            <label for="facturaL" class="col-md-2 control-label">Factura</label>
            <div class="col-md-2">
              <input type="text" class="form-control" ng-model="factura" id="factura">
            </div>
          </div>
          <div class="form-group">
            <label for="vinL" class="col-md-2 control-label">VIN</label>
            <div class="col-md-2">
              <input type="text" class="form-control" ng-model="vin" id="vin">
            </div>
          </div>
  
            
              <button type="button" class="btn btn-default btnBuscar" ng-click="BuscarFlotilla(factura,vin)">Buscar</button>
           
       
        </form>
        <div class="row tablaBusqueda">
          <table class="table table-condensed " > 
            <thead> 
                <tr> 
                    <th>ID</th> 
                    <th>VIN</th> 
                    <th>Factura</th>                        
                    <th>Descripción</th>  
                    <th>Estatus</th>
                    <th>Ver</th>

                </tr> 
            </thead> 
            <tbody> 
                <tr ng-repeat="flotilla in listaFlotillas"> 
                    <td >{{ flotilla.idLicitacion }}</td> 
                    <td >{{ flotilla.vin }}</td> 
                    <td >{{ flotilla.factura }}</td>
                    <td >{{ flotilla.descripcion }}</td>  
                    <td >{{ flotilla.status }}</td> 
                    <td >
                      <button class="btn btn-primary" type="button" id="btnEnviar">
                        <span class="glyphicon glyphicon-hand-left" aria-hidden="true" ng-click="EnviarUnidad()"></span>
                      </button>
                    </td>  
                </tr>
                
            </tbody> 
        </table> 
        </div>
                 
    </div>
</div>