<link rel="stylesheet" type="text/css" href="../../css/unidad.css" />
<div cg-busy="myPromise" ng-init="init()" resize>
  <div id="contenedor">

    <section id="header">
      <div class="col-xs-9" id="folio">
        {{ 'Serie: ' + unidadHeader.vin }}
      </div>
      <div class="col-xs-3 estatus" id="estatus">
        {{ unidadHeader.estatus }}
      </div>
    </section>
    <section id="image">
      <img id="imageLogo" src="image/logo/integra.png">
    </section>
    <section id="return">
      <button id="btnRegresar" type="button" class="btn btn-default btn-lg" tooltip="Regresar" ng-click="Regresar()"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></button>
    </section>
   <section id="details">
    <div id="row data"> 
      <div class="etiqueta">
        Factura
      </div>
      <div class="texto">
       {{ unidadHeader.factura }}
     </div>
     <div class="etiqueta">
      Tipo
    </div>
    <div class="texto">
     {{ unidadHeader.tipo }}
   </div>
   <div class="etiqueta">
    Marca
  </div>
  <div class="texto">
   {{ unidadHeader.marca }}
 </div>
 <div class="etiqueta">
  Modelo
</div>
<div class="texto">
 {{ unidadHeader.modelo }}
</div>
<div class="etiqueta">
  Motor
</div>
<div class="texto">
 {{ unidadHeader.numeroMotor }}
</div>
<div class="etiqueta">
  Color
</div>
<div class="texto">
 {{ unidadHeader.color }}
</div>
<!--  <hr> -->
<div class="etiqueta">
  Ult. Modificación
</div>
<div class="texto">
 {{ unidadHeader.ultimaModificacion }}
</div>
</div>
</section>
<section id="navigator">
  <ul id="standard">
    <li ng-repeat="nodo in listaNodos">
      <img src=" {{ 'image/icons/' + nodo.imagenFase }} " class="logotipo"/>
      <h4 class="nombre" tooltip="{{ nodo.descripcionFase }}"> {{ nodo.nombreFase }}</h4>
      <h5 class="nombre" ng-hide="nodo.active != 1"> {{ nodo.descripcionFase }}</h5>
      <div class="alerta" ng-hide="{{ nodo.alertas == 0 }}">
        {{ nodo.alertas }}
      </div>
      <div class="numero">
        {{ nodo.idFase }}
      </div>
    </li>
  </ul>
</section>
<section class="control">
  <div id="navigateControl">
    <nav id="navigate">
      <ul class="pagination">
        <li><a class="prev anavigatorNode" tooltip="Nodo Anterior"><span aria-hidden="true">«</span></a></li>
        <li ng-repeat="nodo in listaNodos" ng-class="{ 'active': nodo.active == 1 }"><a ng-click="setPage(nodo)" tooltip="{{ nodo.nombreFase }}" class="anavigatorNode">{{ nodo.idFase }}</a></li>
        <li><a class="next anavigatorNode" tooltip="Siguiente Nodo"><span aria-hidden="true">»</span></a></li>
      </ul>
    </nav>
  </div>
  <hr />
</section>
<section id="loader" ng-show="isLoading">
  <div class="loading">
    <div class="windows8">
      <div class="wBall" id="wBall_1">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_2">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_3">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_4">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_5">
        <div class="wInnerBall"></div>
      </div>
    </div>
  </div>
</section>

<section id="detail" ng-show="!isLoading" ng-hide="currentNode.estatus == 1">
  <div id="infoGral" class="container-fluid"ng-show="currentNode.idFase == 1" ng-hide="currentNode.idFase != 1">
    <h4 align="center">Información General <span class="label label-default">1</span></h4>
    <hr>
        <form class="form-horizontal">              
       <div class="form-group">

           <div ng-hide="rolPermiso.EconomicoInt == false" ng-show="rolPermiso.EconomicoInt == true">
              <label for="numEconomico1" class="control-label col-md-2"> #Econ Int: </label>
             <div class="col-md-2">
              <input type="text" ng-model="rolPermiso.ValEconomicoInt" class="form-control" ng-blur="Guardar(rolPermiso.IdEconomicoInt, rolPermiso.ValEconomicoInt,1)">
              
              <div class="loader">
                <div class="showCtrl" id="loader1"><img src="image/gif/arrows.gif" class="gifLoader"></div>
                <div id="ready1"><span class="glyphicon glyphicon-ok ready" aria-hidden="true"></span></div>
              </div>
            </div>
           </div>  

          <div ng-hide="rolPermiso.EconomicoExt == false" ng-show="rolPermiso.EconomicoExt == true">
            <label for="numEconomico2" class="control-label col-md-1"> #Econ Ext: </label>
            <div class="col-md-2">
              <input type="text" ng-model="rolPermiso.ValEconomicoExt" class="form-control" ng-blur="Guardar(rolPermiso.IdEconomicoExt, rolPermiso.ValEconomicoExt,2)">
               <div class="loader">
                <div class="showCtrl" id="loader2"><img src="image/gif/arrows.gif" class="gifLoader"></div>
                <div id="ready2"><span class="glyphicon glyphicon-ok ready" aria-hidden="true"></span></div>
              </div>
            </div>
          </div>  

          <div ng-hide="rolPermiso.PlacaNumero == false" ng-show="rolPermiso.PlacaNumero == true">
            <label for="marca" class="control-label col-md-1" ng-hide="rolPermiso.PlacaNumero == false" ng-show="rolPermiso.PlacaNumero == true">Placa: </label>
            <div class="col-md-2">
              <input type="text" ng-model="rolPermiso.ValPlacaNumero" class="form-control" ng-blur="Guardar(rolPermiso.IdPlacaNumero, rolPermiso.ValEconomicoInt,3)">
              <div class="loader">
                <div class="showCtrl" id="loader3"><img src="image/gif/arrows.gif" class="gifLoader"></div>
                <div id="ready3"><span class="glyphicon glyphicon-ok ready" aria-hidden="true"></span></div>
              </div>
            </div>
          </div>  

        </br>
      </div>
      <div class="form-group">
        <div ng-hide="rolPermiso.GPS == false" ng-show="rolPermiso.GPS == true">
          <label for="modelo" class="control-label col-md-2" ng-hide="rolPermiso.GPS == false" ng-show="rolPermiso.GPS == true">GPS: </label>
          <div class="col-md-2">
            <input type="text" ng-model="rolPermiso.ValGPS" class="form-control" ng-blur="Guardar(rolPermiso.IdGPS, rolPermiso.ValEconomicoInt,4)">
            <div class="loader">
              <div class="showCtrl" id="loader4"><img src="image/gif/arrows.gif" class="gifLoader"></div>
              <div id="ready4"><span class="glyphicon glyphicon-ok ready" aria-hidden="true"></span></div>
            </div>
          </div>
        </div>

        <div ng-hide="rolPermiso.DomicilioEntrega == false" ng-show="rolPermiso.DomicilioEntrega == true">
          <label for="dirEntrega" class="control-label col-md-1">Dirección Entrega: </label>
          <div class="col-md-5">
           <textarea class="form-control" ng-model="unidad.domicilioEntrega" rows="3" ng-blur="Guardar(rolPermiso.IdEconomicoInt, rolPermiso.ValEconomicoInt,5)"></textarea>
          </div>
          <div class="loader">
            <div class="showCtrl" id="loader5"><img src="image/gif/arrows.gif" class="gifLoader"></div>
            <div id="ready5"><span class="glyphicon glyphicon-ok ready" aria-hidden="true"></span></div>
          </div>
        </div>        
      </div> 

      <div class="form-group">
        <div ng-hide="rolPermiso.PlacaNumero == false" ng-show="rolPermiso.PlacaNumero == true">
          <label for="marca" class="control-label col-md-2">Accesorios: </label>
          <div class="col-md-2">
            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="mostrarAccesorio()">
               <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
            </button>
            <div class="loader">
              <div class="showCtrl" id="loader5"><img src="image/gif/arrows.gif" class="gifLoader"></div>
              <div id="ready5"><span class="glyphicon glyphicon-ok ready" aria-hidden="true"></span></div>
            </div>  
          </div>  
        </div>              
      </div> 
   </form>
  </div>

  <div id="doc" class="container-fluid" ng-show="currentNode.idFase==2" ng-hide="currentNode.idFase!=2">
    <h4 align="center">Documentación <span class="label label-default">2</span></h4>
    <hr>
    <form class="form-horizontal">
     <div class="form-group">
        <label for="factura" class="control-label col-md-2" ng-hide="rolPermiso.Factura == false" ng-show="rolPermiso.Factura == true">Factura: </label>
        <button type="button" class="btn btn-default col-md-1" ng-click="verFactura()" >
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        </button>
     </div>
     <div class="form-group">     
      <label for="poliza" class="control-label col-md-2" ng-hide="rolPermiso.PolizaSeguros == false" ng-show="rolPermiso.PolizaSeguros == true">Póliza de Seguros: </label>
       <div class="col-md-3">
        <input type="text" id="txtPolizaSeg" class="form-control"  ng-hide="rolPermiso.PolizaSeguros == false" ng-show="rolPermiso.PolizaSeguros == true"/>
      </div>
      <button type="button" class="btn btn-default col-md-1" ng-click="Cargar()" ng-hide="rolPermiso.PolizaSeguros == false" ng-show="rolPermiso.PolizaSeguros == true">
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
      </button>
      <label for="permisoEsp" class="control-label col-md-2" ng-hide="rolPermiso.PermisoEspecial == false" ng-show="rolPermiso.PermisoEspecial == true">Permiso Especial: </label>
       <div class="col-md-3">
        <input type="text" id="txtPermisoEsp" class="form-control" ng-hide="rolPermiso.PermisoEspecial == false" ng-show="rolPermiso.PermisoEspecial == true"/>
      </div>
      <button type="button" class="btn btn-default col-md-1" ng-click="Cargar()" ng-hide="rolPermiso.PermisoEspecial == false" ng-show="rolPermiso.PermisoEspecial == true">
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
      </button>
    </div>
    <div class="form-group">
     <label for="placas" class="control-label col-md-2" ng-hide="rolPermiso.PlacaFoto == false" ng-show="rolPermiso.PlacaFoto == true">Placas: </label>
       <div class="col-md-3">
        <input type="text" id="txtPlacas" class="form-control" ng-hide="rolPermiso.PlacaFoto == false" ng-show="rolPermiso.PlacaFoto == true"/>
      </div>
      <button type="button" class="btn btn-default col-md-1" ng-click="Cargar()" ng-hide="rolPermiso.PlacaFoto == false" ng-show="rolPermiso.PlacaFoto == true" id="buttonPlacas">
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default col-md-1" ng-click="verDocumento()" id="placaDoc" ng-hide="true"> 
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
      </button>
      <label for="equipamiento" class="control-label col-sm-2" ng-hide="rolPermiso.EquipamientoVehicular == false" ng-show="rolPermiso.EquipamientoVehicular == true">Equipamiento vehicular: </label>
       <div class="col-md-3">
        <input type="text" id="txtEqupamiento" class="form-control" ng-hide="rolPermiso.EquipamientoVehicular == false" ng-show="rolPermiso.EquipamientoVehicular == true"/>
      </div>
      <button type="button" class="btn btn-default col-md-1" ng-click="Cargar()" ng-hide="rolPermiso.EquipamientoVehicular == false" ng-show="rolPermiso.EquipamientoVehicular == true">
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
      </button>
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
      <label for="tarjetaCir" class="control-label col-md-2" ng-hide="rolPermiso.TarjetaCirculacion == false" ng-show="rolPermiso.TarjetaCirculacion == true">Tarjeta de circulación: </label>
       <div class="col-md-3">
        <input type="text" id="txtTarjetaCir" class="form-control" ng-hide="rolPermiso.TarjetaCirculacion == false" ng-show="rolPermiso.TarjetaCirculacion == true"/>
      </div>
      <button type="button" class="btn btn-default col-md-1" ng-click="Cargar()" ng-hide="rolPermiso.TarjetaCirculacion == false" ng-show="rolPermiso.TarjetaCirculacion == true">
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
      </button>
     <label for="verificacion" class="control-label col-sm-2" ng-hide="rolPermiso.Verificacion == false" ng-show="rolPermiso.Verificacion == true">Verificación: </label>
       <div class="col-md-3">
        <input type="text" id="txtVerificacion" class="form-control" ng-hide="rolPermiso.Verificacion == false" ng-show="rolPermiso.Verificacion == true"/>
      </div>
      <button type="button" class="btn btn-default col-md-1" ng-click="Cargar()" ng-hide="rolPermiso.Verificacion == false" ng-show="rolPermiso.Verificacion == true">
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
      </button>
    </div>
    </form>
  </div>

  <div is="entrega" class="container-fluid" ng-show="currentNode.idFase==3" ng-hide="currentNode.idFase!=3">
    <h4 align="center">Entrega<span class="label label-default">3</span></h4>
    <hr>
    <form class="form-horizontal">
     <div class="form-group row">
       <label for="fecha" class="control-label col-md-2" ng-hide="rolPermiso.FechaEntrega == false" ng-show="rolPermiso.FechaEntrega == true">Fecha de entrega: </label>
       <div class="col-md-2">
        <input type="date" class="form-control" ng-hide="rolPermiso.FechaEntrega == false" ng-show="rolPermiso.FechaEntrega == true">
      </div>
      <label for="recibido" class="control-label col-md-2" ng-hide="rolPermiso.RecibidoPor == false" ng-show="rolPermiso.RecibidoPor == true">Recibido por: </label>
      <div class="col-md-4">
        <input type="text" id="txtRecibido" class="form-control" ng-hide="rolPermiso.RecibidoPor == false" ng-show="rolPermiso.RecibidoPor == true">
      </div>      
    </br>
    </div>
    <div class="form-group">
        <label for="acuseR" class="control-label col-md-2" ng-hide="rolPermiso.AcuseRecibo == false" ng-show="rolPermiso.AcuseRecibo == true">Acuse de recibo: </label>
         <div class="col-md-3">
          <input type="text" id="txtAcuseR" class="form-control" ng-hide="rolPermiso.AcuseRecibo == false" ng-show="rolPermiso.AcuseRecibo == true"/>
        </div>
        <button type="button" class="btn btn-default col-md-1" ng-click="Cargar()" ng-hide="rolPermiso.AcuseRecibo == false" ng-show="rolPermiso.AcuseRecibo == true">
          <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
        </button>
        <label for="acuseE" class="control-label col-md-2" ng-hide="rolPermiso.AcuseEntrega == false" ng-show="rolPermiso.AcuseEntrega == true">Acuse de entrega: </label>
         <div class="col-md-3">
          <input type="text" id="txtAcuseE" class="form-control" ng-hide="rolPermiso.AcuseEntrega == false" ng-show="rolPermiso.AcuseEntrega == true" />
        </div>
        <button type="button" class="btn btn-default col-md-1" ng-click="Cargar()" ng-hide="rolPermiso.AcuseEntrega == false" ng-show="rolPermiso.AcuseEntrega == true">
          <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
        </button>
      </br>
    </div>
    <div class="row">
         <div class="col-md-3" ng-hide="rolPermiso.FotoFrente == false" ng-show="rolPermiso.FotoFrente == true">
          <label for="fotoFrente" class="control-label col-md-1"> Frente: </label>
          <img src="image/car/auto_delantera.jpg" class="autoCuadro" id='fotoFrente'
               ng-click="Cargar()">
         </div>
         <div class="col-md-3" ng-hide="rolPermiso.FotoCostadoDerecho == false" ng-show="rolPermiso.FotoCostadoDerecho == true">
          <label for="fotoCostado1" class="control-label col-md-1"> Derecha: </label>
          <img src="image/car/auto_derecha.jpg" class="autoRectangulo" ng-click="Cargar()">
         </div>
         <div class="col-md-3" ng-hide="rolPermiso.FotoCostadoIzq == false" ng-show="rolPermiso.FotoCostadoIzq == true">
          <label for="fotoCostado2" class="control-label col-md-1"> Izquierda: </label>
          <img src="image/car/auto_izquierda.jpg" class="autoRectangulo" ng-click="Cargar()">
         </div>
        <div class="col-md-3" ng-hide="rolPermiso.FotoTrasera == false" ng-show="rolPermiso.FotoTrasera == true">
          <label for="fotoTrasera" class="control-label col-md-1"> Trasera: </label>
          <img src="image/car/auto_trasera.jpg" class="autoCuadro" ng-click="Cargar()">
        </div>
    </div>       
    </form>
  </div>
</section>

<!--Modal Accesorios-->
<div class="modal fade" tabindex="-1" id="viewAccesorio">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title">Accesorios</h4>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>
              <label for="gatoUni">Gato de unidad: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxGatoUni" class="form-control" data-on-text="Si" data-off-text="No">
            </td>
          </tr>
          <tr>
            <td>
              <label for="tuercaUni">Llave de tuercas de unidad: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxLlaveTuerca" class="form-control" data-on-text="Si" data-off-text="No">
            </td>
          </tr> 
          <tr>
            <td>
              <label for="maneral">Maneral de gato: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxManeral" class="form-control" data-on-text="Si" data-off-text="No">
            </td>
          </tr> 
          <tr>
            <td>
              <label for="refaccion">Llanta de refacción: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxRefaccion" class="form-control" data-on-text="Si" data-off-text="No">
            </td>
          </tr> 
          <tr>
            <td>
              <label for="tapAlfombra">Tapetes de alfombra: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxTapAlfombra" class="form-control" data-on-text="Si" data-off-text="No">
            </td>
          </tr> 
          <tr>
            <td>
              <label for="tapPlastico">Tapetes plástico: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxTapPlastico" class="form-control" data-on-text="Si" data-off-text="No">
            </td>
          </tr> 
          <tr>
            <td>
              <label for="triSeguridad">Triángulos de seguridad: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxTriSeguridad" class="form-control" data-on-text="Si" data-off-text="No">
            </td>
          </tr> 
          <tr>
            <td>
              <label for="birlo">Tuerca y/o birlo de seguridad: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxBirlo" class="form-control" data-on-text="Si" data-off-text="No">
            </td>
          </tr>
          <tr>
            <td>
              <label for="cable">Cables pasa corriente: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxCable" class="form-control" data-on-text="Si" data-off-text="No">
            </td>
          </tr>
          <tr>
            <td>
              <label for="extintor">Extintor: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxExtintor" class="form-control" data-on-text="Si" data-off-text="No">
            </td>
          </tr>
          <tr>
            <td>
              <label for="otroAccesorio">Otro Accesorio: </label>
            </td>
            <td>
              <input id="cbxOtroAcc" type="checkbox" name="cbxOtro" data-on-text="Si" data-off-text="No">
            </td>            
          </tr>          
        </table>
        </br>
        <div>
          <textarea id="txtOtroAcc" class="form-control" rows="2"></textarea> 
        </div>              
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" id="btnCancelarAcc" ng-click="ocultarAccesorio()">Aceptar</button>              
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->  


<script type="text/javascript">
function nodisponible() {
 var scope = angular.element($("#viewerDocs")).scope();
 scope.$apply(function(){
  scope.NoDisponible();
})
}
</script>


