<link rel="stylesheet" type="text/css" href="../../css/unidad.css" />
<div cg-busy="myPromise" ng-init="init()" resize>
  <div id="contenedor">

    <section id="header">
      <div class="col-xs-9" id="folio">
        {{ 'Serie: ' + unidadHeader.vin }}
      </div>
      <div class="col-xs-3 estatus" id="estatus">
        {{ unidadHeader.estatus }}
      </div>
    </section>
    <section id="image">
      <img id="imageLogo" src="image/logo/integra.png">
    </section>
    <section id="return">
      <button id="btnRegresar" type="button" class="btn btn-default btn-lg" tooltip="Regresar" ng-click="Regresar()"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></button>
    </section>
   <section id="details">
    <div id="row data"> 
      <div class="etiqueta">
        Factura
      </div>
      <div class="texto">
       {{ unidadHeader.factura }}
     </div>
     <div class="etiqueta">
      Tipo
    </div>
    <div class="texto">
     {{ unidadHeader.tipo }}
   </div>
   <div class="etiqueta">
    Marca
  </div>
  <div class="texto">
   {{ unidadHeader.marca }}
 </div>
 <div class="etiqueta">
  Modelo
</div>
<div class="texto">
 {{ unidadHeader.modelo }}
</div>
<div class="etiqueta">
  Motor
</div>
<div class="texto">
 {{ unidadHeader.numeroMotor }}
</div>
<div class="etiqueta">
  Color
</div>
<div class="texto">
 {{ unidadHeader.color }}
</div>
<!--  <hr> -->
<div class="etiqueta">
  Ult. Modificación
</div>
<div class="texto">
 {{ unidadHeader.ultimaModificacion }}
</div>
</div>
</section>
<section id="navigator">
  <ul id="standard">
    <li ng-repeat="nodo in listaNodos">
      <img src=" {{ 'image/icons/' + nodo.imagenFase }} " class="logotipo"/>
      <h4 class="nombre" tooltip="{{ nodo.descripcionFase }}"> {{ nodo.nombreFase }}</h4>
      <h5 class="nombre" ng-hide="nodo.active != 1"> {{ nodo.descripcionFase }}</h5>
      <div class="alerta" ng-hide="{{ nodo.alertas == 0 }}">
        {{ nodo.alertas }}
      </div>
      <div class="numero">
        {{ nodo.idFase }}
      </div>
    </li>
  </ul>
</section>
<section class="control">
  <div id="navigateControl">
    <nav id="navigate">
      <ul class="pagination">
        <li><a class="prev anavigatorNode" tooltip="Nodo Anterior"><span aria-hidden="true">«</span></a></li>
        <li ng-repeat="nodo in listaNodos" ng-class="{ 'active': nodo.active == 1 }"><a ng-click="setPage(nodo)" tooltip="{{ nodo.nombreFase }}" class="anavigatorNode">{{ nodo.idFase }}</a></li>
        <li><a class="next anavigatorNode" tooltip="Siguiente Nodo"><span aria-hidden="true">»</span></a></li>
      </ul>
    </nav>
  </div>
  <hr />
</section>

<section id="detail">
<div id="infoGral" class="container-fluid"ng-show="currentNode.idFase == 1">
    <h4 align="center">Información General <span class="label label-default">1</span></h4>
    <hr>
        <form class="form-horizontal">              
       <div class="form-group">
           <div ng-show="listaDocumentos[10].permiso == 1">
              <label for="numEconomico" class="control-label col-md-2"> #Econ Int: </label>
             <div class="col-md-2">
              <input id="txt1" type="text" ng-model="listaDocumentos[10].valor" class="form-control" ng-blur="Guardar(listaDocumentos[10].idDocumento, listaDocumentos[10].valor)">
              
              <div class="loader">
                <div class="showCtrl" id="loader11"><img src="image/gif/arrows.gif" class="gifLoader"></div>
                <div id="ready11"><span class="glyphicon glyphicon-ok ready" data-toggle="popover" data-original-title="{{listaDocumentos[10].accion}}" data-content="{{listaDocumentos[10].nombreUsuario}} el {{listaDocumentos[10].fechaMod | date:'MM/dd/yyyy hh:mm:ss'}}" ng-hide="listaDocumentos[10].accion == null" ></span></div>
              </div>
            </div>
           </div>  

          <div ng-show="listaDocumentos[11].permiso == 1">
            <label for="numEconomico2" class="control-label col-md-1"> #Econ Ext: </label>
            <div class="col-md-2">
              <input type="text" ng-model="listaDocumentos[11].valor" class="form-control" ng-blur="Guardar(listaDocumentos[11].idDocumento, listaDocumentos[11].valor)">
               <div class="loader">
                <div class="showCtrl" id="loader12"><img src="image/gif/arrows.gif" class="gifLoader" ng-show="listaDocumentos[11].valor == ''"></div>
                <div id="ready12"><span class="glyphicon glyphicon-ok ready" data-toggle="popover" data-original-title="{{listaDocumentos[11].accion}}" data-content="{{listaDocumentos[11].nombreUsuario}} el {{listaDocumentos[11].fechaMod | date:'MM/dd/yyyy hh:mm:ss'}}" ng-hide="listaDocumentos[11].accion == null" ></span></div>
              </div>
            </div>
          </div>  

          <div ng-show="listaDocumentos[14].permiso == 1">
            <label for="marca" class="control-label col-md-1">Placa: </label>
            <div class="col-md-2">
              <input type="text" ng-model="listaDocumentos[14].valor" class="form-control" ng-blur="Guardar(listaDocumentos[14].idDocumento, listaDocumentos[14].valor)">
              <div class="loader">
                <div class="showCtrl" id="loader15"><img src="image/gif/arrows.gif" class="gifLoader" ng-show="listaDocumentos[14].valor == ''"></div>
                <div id="ready15"><span class="glyphicon glyphicon-ok ready" data-toggle="popover" data-original-title="{{listaDocumentos[14].accion}}" data-content="{{listaDocumentos[14].nombreUsuario}} el {{listaDocumentos[14].fechaMod | date:'MM/dd/yyyy hh:mm:ss'}}" ng-hide="listaDocumentos[14].accion == null" ></span></div>
              </div>
            </div>
          </div>  

        </br>
      </div>
      <div class="form-group">
        <div ng-show="listaDocumentos[19].permiso == 1">
          <label for="modelo" class="control-label col-md-2">GPS: </label>
          <div class="col-md-2">
            <input type="text" ng-model="listaDocumentos[19].valor" class="form-control" ng-blur="Guardar(listaDocumentos[19].idDocumento, listaDocumentos[19].valor)">
            <div class="loader">
              <div class="showCtrl" id="loader20"><img src="image/gif/arrows.gif" class="gifLoader" ng-show="listaDocumentos[19].valor == ''"></div>
              <div id="ready20"><span class="glyphicon glyphicon-ok ready" data-toggle="popover" data-original-title="{{listaDocumentos[19].accion}}" data-content="{{listaDocumentos[19].nombreUsuario}} el {{listaDocumentos[19].fechaMod | date:'MM/dd/yyyy hh:mm:ss'}}" ng-hide="listaDocumentos[19].accion == null" ></span></div>
            </div>
          </div>
        </div>

        <div ng-show="listaDocumentos[20].permiso == 1">
          <label for="dirEntrega" class="control-label col-md-1">Dirección Entrega: </label>
          <div class="col-md-5">
           <textarea class="form-control" ng-model="listaDocumentos[20].valor" rows="3" ng-blur="Guardar(listaDocumentos[20].idDocumento, listaDocumentos[20].valor)"></textarea>
           <div class="loader">
            <div class="showCtrl" id="loader21"><img src="image/gif/arrows.gif" class="gifLoader" ng-show="listaDocumentos[20].valor == ''"></div>
            <div id="ready21"><span class="glyphicon glyphicon-ok ready" data-toggle="popover" data-original-title="{{listaDocumentos[20].accion}}" data-content="{{listaDocumentos[20].nombreUsuario}} el {{listaDocumentos[20].fechaMod | date:'MM/dd/yyyy hh:mm:ss'}}" ng-hide="listaDocumentos[20].accion == null" ></span></div>
          </div>
          </div>          
        </div>        
      </div> 

      <div class="form-group">
        <div ng-show="listaDocumentos[33].permiso == 1">
          <label for="marca" class="control-label col-md-2">Accesorios: </label>
          <div class="col-md-2">
            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="mostrarAccesorio()">
               <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
            </button>
          </div>  
        </div>              
      </div> 
   </form>
  </div>

  <div id="doc" class="container-fluid" ng-show="currentNode.idFase==2">
    <h4 align="center">Documentación <span class="label label-default">2</span></h4>
    <hr>
    <form class="form-horizontal">
     <div class="form-group">
        <div ng-show="listaDocumentos[13].permiso == 1" >
          <label for="factura" class="control-label col-md-2">Factura: </label>
          <div class="col-md-1">
          <button type="button" class="btn btn-default" ng-click="verFactura()" >
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          </button>
          </div>
        </div>        
     </div>

     <div class="form-group">   
        <div ng-show="listaDocumentos[22].permiso == 1">
          <label for="poliza" class="control-label col-md-2">Póliza de Seguros: </label>
            <div class="col-md-3">
              <input type="text" id="txtPolizaSeg" ng-model="listaDocumentos[22].valor" class="form-control" disabled/>
            </div>
            <div class="col-md-1">
              <button type="button" class="btn btn-default" ng-click="Cargar(listaDocumentos[22].idDocumento)">
                <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
            </button>
            </div>
            <div class="col-md-1" ng-hide="listaDocumentos[22].valor == ''">
              <button type="button" class="btn btn-default" ng-click="verDocumento(listaDocumentos[22].idDocumento)">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
              </button>
            </div>      
        </div> 

        <div ng-show="listaDocumentos[23].permiso == 1">
            <label for="permisoEsp" class="control-label col-md-2">Permiso Especial: </label>
            <div class="col-md-3">
              <input type="text" id="txtPermisoEsp" ng-model="listaDocumentos[23].valor" class="form-control" disabled/>
            </div>
            <div class="col-md-1">
              <button type="button" class="btn btn-default" ng-click="Cargar(listaDocumentos[23].idDocumento)">
              <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
              </button>
              <div class="col-md-1" ng-hide="listaDocumentos[23].valor == ''">
              <button type="button" class="btn btn-default" ng-click="verDocumento(listaDocumentos[23].idDocumento)">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
              </button>
          </div>
            </div>
        </div>
    </div>
    <div class="form-group">
      <div ng-show="listaDocumentos[12].permiso == 1">
           <label for="placas" class="control-label col-md-2">Placas: </label>
           <div class="col-md-3">
              <input type="text" id="txtPlacas" ng-model="listaDocumentos[12].valor" class="form-control" disabled/>
           </div>
          <div class="col-md-1">
              <button type="button" class="btn btn-default " ng-click="Cargar(listaDocumentos[12].idDocumento)" id="buttonPlacas">
              <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
           </button>
              <div class="col-md-1" ng-hide="listaDocumentos[12].valor == ''">
              <button type="button" class="btn btn-default" ng-click="verDocumento(listaDocumentos[12].idDocumento)">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
              </button>
          </div>
          </div>
      </div>
      <div ng-show="listaDocumentos[15].permiso == 1">
          <label for="equipamiento" class="control-label col-sm-2">Equipamiento vehicular: </label>
          <div class="col-md-3">
              <input type="text" id="txtEqupamiento" ng-model="listaDocumentos[15].valor" class="form-control" disabled/>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-default" ng-click="Cargar(listaDocumentos[15].idDocumento)">
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
          </button>
          <div class="col-md-1" ng-hide="listaDocumentos[15].valor == ''">
              <button type="button" class="btn btn-default" ng-click="verDocumento(listaDocumentos[15].idDocumento)">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
              </button>
          </div>
          </div>
      </div>
    </div>
    <div class="form-group">
      <div ng-show="listaDocumentos[18].permiso == 1">
          <label for="tarjetaCir" class="control-label col-md-2">Tarjeta de circulación: </label>
          <div class="col-md-3">
              <input type="text" id="txtTarjetaCir" ng-model="listaDocumentos[18].valor" class="form-control" disabled/>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-default" ng-click="Cargar(listaDocumentos[18].idDocumento)">
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
          </button>
          </div>
          <div class="col-md-1" ng-hide="listaDocumentos[18].valor == ''">
              <button type="button" class="btn btn-default" ng-click="verDocumento(listaDocumentos[18].idDocumento)">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
              </button>
          </div>
      </div>
      
      <div ng-show="listaDocumentos[21].permiso == 1">
          <label for="verificacion" class="control-label col-sm-2">Verificación: </label>
          <div class="col-md-3">
              <input type="text" id="txtVerificacion" ng-model="listaDocumentos[18].valor" class="form-control" disabled/>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-default" ng-click="Cargar(listaDocumentos[18].idDocumento)">
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
          </button>
          </div>
      </div>
    </div>

    <div class="form-group">
      <div ng-show="listaDocumentos[18].permiso == 1">
          <label for="tenencia" class="control-label col-md-2">Tenencia: </label>
          <div class="col-md-3">
              <input type="text" id="txtTenencia" ng-model="listaDocumentos[18].valor" class="form-control" disabled/>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-default" ng-click="Cargar(listaDocumentos[21].idDocumento)" ng-hide="listaDocumentos.Verificacion == false" ng-show="listaDocumentos.Verificacion == true">
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
          </button>
          </div>
          <div class="col-md-1" ng-hide="listaDocumentos[21].valor == ''">
              <button type="button" class="btn btn-default" ng-click="verDocumento(listaDocumentos[21].idDocumento)">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
              </button>
          </div>
      </div>
    </div>
    </form>
  </div>

  <div is="entrega" class="container-fluid" ng-show="currentNode.idFase==3">
    <h4 align="center">Entrega<span class="label label-default">3</span></h4>
    <hr>
    <form class="form-horizontal">
     <div class="form-group row">
        <div ng-show="listaDocumentos[24].permiso == 1">
           <label for="fecha" class="control-label col-md-2">Fecha de entrega: </label>
           <div class="col-md-2">
            <input type="date" class="form-control">
           </div>
        </div>
        <div ng-show="listaDocumentos[25].permiso == 1">
           <label for="recibidoPor" class="control-label col-md-2"> Recibido por: </label>
          <div class="col-md-2">
            <input type="text" ng-model="listaDocumentos[25].valor" class="form-control" ng-blur="Guardar(listaDocumentos[25].idDocumento, listaDocumentos[25].valor)">
            <div class="loader">
              <div class="showCtrl" id="loader26"><img src="image/gif/arrows.gif" class="gifLoader" ng-show="listaDocumentos[25].valor != ''"></div>
              <div id="ready26"><span class="glyphicon glyphicon-ok ready" data-toggle="popover" data-original-title="{{listaDocumentos[25].accion}}" data-content="{{listaDocumentos[25].nombreUsuario}} el {{listaDocumentos[25].fechaMod | date:'MM/dd/yyyy hh:mm:ss'}}" ng-hide="listaDocumentos[25].accion == null" ></span></div>
            </div>
          </div>
       </div>          
    </br>
    </div>
    <div class="form-group">
      <div ng-show="listaDocumentos[16].permiso == 1">
        <label for="acuseR" class="control-label col-md-2">Acuse de recibo: </label>
         <div class="col-md-3">
          <input type="text" id="txtAcuseR" ng-model="listaDocumentos[16].valor" class="form-control" disabled/>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default" ng-click="Cargar(listaDocumentos[16].idDocumento)" ng-hide="listaDocumentos.Verificacion == false" ng-show="listaDocumentos.Verificacion == true">
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
          </button>
          </div>
        <div class="col-md-1" ng-hide="listaDocumentos[16].valor == ''">
              <button type="button" class="btn btn-default" ng-click="verDocumento(listaDocumentos[16].idDocumento)">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
              </button>
          </div>
      </div>

      <div ng-show="listaDocumentos[17].permiso == 1">
        <label for="acuseE" class="control-label col-md-2">Acuse de entrega: </label>
         <div class="col-md-3">
          <input type="text" id="txtAcuseE" ng-model="listaDocumentos[17].valor" class="form-control" disabled/>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default" ng-click="Cargar(listaDocumentos[17].idDocumento)" ng-hide="listaDocumentos.Verificacion == false" ng-show="listaDocumentos.Verificacion == true">
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
          </button>
          </div>
        <div class="col-md-1" ng-hide="listaDocumentos[17].valor == ''">
            <button type="button" class="btn btn-default" ng-click="verDocumento(listaDocumentos[17].idDocumento)">
              <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            </button>
        </div>
      </div>
      </br>
    </div>
    <div class="row">
       <div class="col-md-3" ng-hide="listaDocumentos.FotoFrente == false" ng-show="listaDocumentos.FotoFrente == true">
        <label for="fotoFrente" class="control-label col-md-1"> Frente: </label>
        <img src="image/car/auto_delantera.jpg" class="autoCuadro" id='fotoFrente' ng-click="Cargar(listaDocumentos[26].idDocumento)">
       </div>
       <div class="col-md-3" ng-hide="listaDocumentos.FotoCostadoDerecho == false" ng-show="listaDocumentos.FotoCostadoDerecho == true">
        <label for="fotoCostado1" class="control-label col-md-1"> Derecha: </label>
        <img src="image/car/auto_derecha.jpg" class="autoRectangulo" id='fotoDerecha' ng-click="Cargar(listaDocumentos[29].idDocumento)">
       </div>
       <div class="col-md-3" ng-hide="listaDocumentos.FotoCostadoIzq == false" ng-show="listaDocumentos.FotoCostadoIzq == true">
        <label for="fotoCostado2" class="control-label col-md-1"> Izquierda: </label>
        <img src="image/car/auto_izquierda.jpg" class="autoRectangulo" id='fotoIzquierda' ng-click="Cargar(listaDocumentos[28].idDocumento)">
       </div>
      <div class="col-md-3" ng-hide="listaDocumentos.FotoTrasera == false" ng-show="listaDocumentos.FotoTrasera == true">
        <label for="fotoTrasera" class="control-label col-md-1"> Trasera: </label>
        <img src="image/car/auto_trasera.jpg" class="autoCuadro" id='fotoTrasera' ng-click="Cargar(listaDocumentos[27].idDocumento)">
      </div>
    </div>        
    </form>
  </div>
</section>

<!--Modal Accesorios-->
<div class="modal fade" tabindex="-1" id="viewAccesorio">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title">Accesorios</h4>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>
              <label for="gatoUni">Gato de unidad: </label>
            </td>
            <td>
              <input id="cbx1" type="checkbox" name="cbxGatoUni" class="switch" data-on-text="Si" data-off-text="No">
              <div class="loader">
                <div class="showCtrl" id="loader1"><img src="image/gif/arrows.gif" class="gifLoader" ng-show="listaDocumentos[0].valor == ''"></div>
                <div id="ready1"><span class="glyphicon glyphicon-ok ready" data-toggle="popover" data-original-title="{{listaDocumentos[0].accion}}" data-content="{{listaDocumentos[0].nombreUsuario}} el {{listaDocumentos[0].fechaMod | date:'MM/dd/yyyy hh:mm:ss'}}" ng-hide="listaDocumentos[0].accion == null" ></span></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label for="tuercaUni">Llave de tuercas de unidad: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxLlaveTuerca" class="switch" data-on-text="Si" data-off-text="No">
            </td>
          </tr> 
          <tr>
            <td>
              <label for="maneral">Maneral de gato: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxManeral" class="switch" data-on-text="Si" data-off-text="No">
            </td>
          </tr> 
          <tr>
            <td>
              <label for="refaccion">Llanta de refacción: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxRefaccion" class="switch" data-on-text="Si" data-off-text="No">
            </td>
          </tr> 
          <tr>
            <td>
              <label for="tapAlfombra">Tapetes de alfombra: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxTapAlfombra" class="switch" data-on-text="Si" data-off-text="No">
            </td>
          </tr> 
          <tr>
            <td>
              <label for="tapPlastico">Tapetes plástico: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxTapPlastico" class="switch" data-on-text="Si" data-off-text="No">
            </td>
          </tr> 
          <tr>
            <td>
              <label for="triSeguridad">Triángulos de seguridad: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxTriSeguridad" class="switch" data-on-text="Si" data-off-text="No">
            </td>
          </tr> 
          <tr>
            <td>
              <label for="birlo">Tuerca y/o birlo de seguridad: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxBirlo" class="switch" data-on-text="Si" data-off-text="No">
            </td>
          </tr>
          <tr>
            <td>
              <label for="cable">Cables pasa corriente: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxCable" class="switch" data-on-text="Si" data-off-text="No">
            </td>
          </tr>
          <tr>
            <td>
              <label for="extintor">Extintor: </label>
            </td>
            <td>
              <input type="checkbox" name="cbxExtintor" class="switch" data-on-text="Si" data-off-text="No">
            </td>
          </tr>
          <tr>
            <td>
              <label for="otroAccesorio">Otro Accesorio: </label>
            </td>
            <td>
              <input id="cbxOtroAcc" type="checkbox" name="cbxOtro" class="switch" data-on-text="Si" data-off-text="No">
            </td>            
          </tr>          
        </table>
        </br>
        <div>
          <textarea id="txtOtroAcc" class="form-control" rows="2"></textarea> 
        </div>              
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" id="btnCancelarAcc" ng-click="ocultarAccesorio()">Aceptar</button>              
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->  


<script type="text/javascript">
function nodisponible() {
 var scope = angular.element($("#viewerDocs")).scope();
 scope.$apply(function(){
  scope.NoDisponible();
})
}
</script>